<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include ('./head') %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" integrity="sha256-rFMLRbqAytD9ic/37Rnzr2Ycy/RlpxE5QH52h7VoIZo=" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <title>All Customers</title>

</head>
<body>
    <div class="container">
        <br/>
    <table class="table">     
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Current Balance</th>
                <th>Account No</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
        </thead>   
        <tbody>
         <% for(var i = 0 ; i < alldata.length ; i++) { %>
            
            <tr>
                <td><%= alldata[i].id %></td>
                <td><%= alldata[i].name %></td>
                <td><%= alldata[i].email %></td>
                <td><%= alldata[i].currentBalance %></td>
                <td><%= alldata[i].accountNo %></td>
                <td><%= alldata[i].age %></td>
                <td><%= alldata[i].gender %></td>
                <td> <a href="/transfer/<%= alldata[i].accountNo %>" class="btn btn-secondary">Tranfer</a> </td>
            </tr>
        <% }  %>
       </tbody>
    </table>

    <p>Total Data : <%= alldata.length %> </p>
    <a href = "/createData" class="btn btn-success" >Create Customers</a>
    <a href = "/deleteData" class="btn btn-danger" >Delete Customers</a>
    <a href ="/transactionhistory" class="btn btn-info">Show Transactions</a>
    <br>
    </div>

    <br><br><br>
</body>
</html>